#include <os2.h>
#include "rc.h"

ICON RES_CLIENT HELP.ICO

ACCELTABLE RES_CLIENT
{
   VK_F3, MI_EXIT, VIRTUALKEY
}

MENU RES_CLIENT
{
   SUBMENU "~File", M_FILE
   {
      MENUITEM "~Message box", MI_BOX
      MENUITEM "E~xit\tF3", MI_EXIT
   }
}

HELPTABLE RES_CLIENT
{
   HELPITEM RES_CLIENT, SUBHELP_CLIENT, EXTHELP_CLIENT
}

HELPSUBTABLE SUBHELP_CLIENT
{
   HELPSUBITEM M_FILE, HELP_M_FILE
   HELPSUBITEM MI_BOX, HELP_MI_BOX
   HELPSUBITEM MI_EXIT, HELP_MI_EXIT
}
